{
        auto_https disable_redirects
}

http://vhost1.localhost {
        reverse_proxy vhost1:80
}

http://vhost2.localhost {
        basicauth {
                doctor $2a$14$126x.Yl73mnD9l7ITq9N5ugTtZsVE27M3gue4.8tmMyIOcAOHetHS
        }
        reverse_proxy vhost2:80
}

http://vhost3.localhost {
        basicauth {
                admin $2a$14$qtJZPJRT./j9aR6MNQ6rwelKgRcbFpxtzPpEHzOA.98whssdycl8C
        }
        reverse_proxy vhost3:80
}