<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <h2>Welcome! Choose the operation to perform</h2>

    <div id="menu">
        <ul class="menu">
            <li>
                <div id="insert-diagnosis">
                    <form id="insert-diagnosis-form" method="get" action="">
                        <button type="button" onclick="load('diagnosis')">Input diagnosis</button>
                    </form>
                </div>
            </li>

            <li>
            <div id="visit-listing">
                <form id="visit-listing-form" method="post" action="">
                    <button type="button" onclick="submitForm('visits')">Show my appointments</button>
                    <label for="surname">Doctor Surname:</label>
                    <input type="text" id="doctor_surname" name="doctor_surname" class="input" required>
                </form>
            </div>
            </li>
        </ul>
    </div>

    <script>
        function submitForm(action) {
            var surname = document.getElementById('surname').value;

            // Check if the surname is not empty
            if (surname.trim() === '') {
                alert('Please fill in the doctor surname before submitting.');
            } else {
                document.getElementById('visit-listing-form').action = action;
                document.getElementById('visit-listing-form').submit();
            }
        }

        function load(page) {
            document.getElementById("insert-diagnosis-form").action = page
            document.getElementById('insert-diagnosis-form').submit();
        }
    </script>

</body>
</html>
