<div class="wrapper">
    <div class="form-box Book-appointment">
        <h2>Book appointment</h2>
        <form action ="#">
            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" required>
                <label>Name</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" required>
                <label>Surname</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input type="date" id="app_date" name = "app_date" required>
                <input type="time" id="app_time" name="app_time" min="09:00" max="18:00" step="1800" required>
                <label>Appointment date and time</label>
            </div>               
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Book the appointment</button>
        </form>
    </div>
</div>