<div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form action="" method="post" id="login-form">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button class="btn" onclick="submitForm('/')">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="/register" class="register-link">Create one</a></p>
            </div>
        </form>
    </div>
</div>