<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Hospital | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'header.html' %}
    {% if login_code is defined and login_code != '-1'%}
        {# Login code can be 0 or 1 #}
        {% if login_code == '0' %}
            <div class="alert" style="background-color: green;">
                Logged in successfully!
            </div>
            {% include 'book_appointment.html' %}
        {% else %}
            {% if login_code == '1' %}
                <div class="alert" style="background-color: red;">
                    The credentials provided are not associated to any user.
                </div>
                {% include 'login_form.html' %}
            {% endif %}
        {% endif %}
        {% set login_code = '-1' %}
    {% else %}
        {# Either login_code doesn't exist or is -1 #}
        {% if sql_message is defined and sql_message|length > 0 %}
            {% if sql_message[1] == '0' %}
                <div class="alert" style="background-color: green;">
                    User registrated successfully!
                </div>
            {% else %}
                <div class="alert" style="background-color: red;">
                    The user already exists.
                </div>
            {% endif %}
            {% set sql_message = () %}
        {% endif %}
        {% include 'login_form.html' %}
    {% endif %}

    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        function submitForm(action) {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;

            // Check if the surname is not empty
            if (email.trim() != '' && password.trim() != '') {
                form = document.getElementById('login-form');
                form.action = action;
                form.submit();
            }
        }
    </script>
</body>

</html>
