<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor's Visits</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <a type="button" id="back" href='/''><button>Main page</button></a>
        <br>
        <div>
            {# Check if at least 1 visit was found #}
            {% if visits|length > 0 %}
                <h2>Listing {{ doctor }}'s visits.</h2>
                <table>
                    <tr>
                        <th>Visit date</th>
                        <th>Patient's email</th>
                        <th>Patient's surname</th>
                        <th>Patient's name</th>
                        <th>Diagnosis</th>
                        <th>Price of the visit</th>
                        <th>Paid</th>
                    </tr>
                    {% for visit in visits %}
                        <tr>
                            {% for field in visit %}
                                <td> {{field}} </td>
                            {% endfor %}
                        </tr> 
                    {% endfor %}
                </table>
            {% else %}
                <h2> No appointments were found for doctor {{doctor}}.</h2>
            {% endif %}
        </div>

    </body>
</html>